<h3>Mr. Worman</h3>

<img src="/images/Mr.Worman.jpg">

<p>Prufrock Prepatory School is one of the top schools in New York City.  For the past five years we have been focusing on making a students life have meaning.  We are located 2 minutes from Central Park and across the street from Juliard.  We have so much culture and enthuasm on our campuses that we wish every student would attend here.  </p>