<table>
  <tr>
    <th>
      <h4>Cohorts</h4>
    </td>
  </tr>
  <% @cohorts.each do |s| %>
    <tr>
      <td>
      <a href="/cohorts/<%= s.id %>"><%= s.name %>
      </td>
    </tr>

  <% end %>
  <a href="/cohorts/new/">Create a new Student</a>
</table>
</a>
