 
<table>
    <tr>
        <th>Cohorts</td>
    </tr>
    <% @cohorts.each do |s| %>
    <tr>
        <td><a href="/cohorts/<%= s.id %>"><%= s.first_name %> <%= s.last_name %></a></td>
    </tr>
    <% end %>
 </table>