<table>
  <tr>
    <th>
      <h4>Cohorts</h4>
    </td>
  </tr>
  <% @cohorts.each do |cohort| %>
    <tr>
      <td>
        <a href="/cohorts/<%= cohort.id %>"><%= cohort.name %>
        </td>
      </tr>

    <% end %>
    <a href="/cohorts/new/">Create a new Cohort</a>
  </table>
</a>
