<!-- <div class="tables">
      <table>
        <h4>Students</h4>
        <tr>
          <td>
          <% @students.each do |s| %>
          <th>

          </td>
        </tr>

          <tr>
            <td>
              <a href="/students/<%= s.id %>"><%= s.first_name %>
                <%= s.last_name %></a>
            </td>
          </tr>
        </div>
        <% end %> -->
