<table>
  <tr>
    <th>
      <h4>Students</h4>
    </td>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td>
        <a href="/students/<%= student.id %>"><%= student.first_name %>
          <%= student.last_name %></a>
      </td>
    </tr>

  <% end %>
  <a href="/students/new/">Create a new Student</a>
</table>
</a>
