 
 <p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Listing All Students</h1>
  <%= link_to new_student_path do %>
  <% end %>
</div>

<div id="table">
  <%= render 'table' %>
</div>
 
 