
      <table>
        <tr>
          <th>
            <h4>Instructors</h4>
          </td>
        </tr>
        <% @instructors.each do |s| %>
          <tr>
            <td>
              <a href="/instructors/<%= s.id %>"><%= s.first_name %>
                <%= s.last_name %></a>
            </td>
          </tr>

        <% end %>
        <a href="/students/new/">Create a new Instructor</a>
      </table>
    </a>
   
