<div id="numbers">
 <span class="carouel">1</span>
 <span class="carouel">2</span>
 <span class="carouel">3</span>
</div>
<div id="btns">
 <br><br>

<div class="carousel">
 <button onclick="numbers.prev();">play prev</button>
 <button onclick="numbers.next();">play next</button>
 </div>

 <div class="carousel1">
 <button onclick="numbers.prev(500);">play prev</button>
 <button onclick="numbers.next(1000);">play next</button>
  <button onclick="numbers.stop();">stop</button>
  </div>

  <button onclick="buttons.next();">more options</button>

 
 
