 <div id="headerbar">
      <ul>
     </ul>
 </div>
<h1>Welcome to Prufrock Preparatory School</h1>

 


 <div id="navbar">
      <ul>
          <li><a href="/">HOME</a></li>
            <li><a href="students">STUDENTS</a></li>
            <li><a href="instructors">INSTRUCTORS</a></li>
            <li><a href="principal">PRINCIPAL</a></li>
            <li><a href="courses">COURSES</a></li>
            <li><a href="cohorts">COHORTS</a></li>
            <li><a href="contact">CONTACT US</a></li>
     </ul>
 </div>
 

<%= image_tag "/images/school.png", :class => "image"  %> 
 
