<<<<<<< HEAD
 <div id="headerbar">

          <div class="logo"><img src="images/logo.png">
   </div>
 </div>
 <div id="navbar">
      <ul>
          <li><a href="/">HOME</a></li>
            <li><a href="principal">PRINCIPAL</a></li>
            <li><a href="students">STUDENTS</a></li>
            <li><a href="instructors">INSTRUCTORS</a></li>
            <li><a href="courses">COURSES</a></li>
            <li><a href="cohorts">COHORTS</a></li>
            <li><a href="about">ABOUT US</a></li>
     </ul>
 </div>
 <div class="lion"><img src="images/lion.png" height="140" width="140"></div><br><h1>PRUFROCK PREPATORY<br>SCHOOL</h1>
=======
<div class="container">
  <div class="timer"></div>
  <div class="slideshow">
    <div class="slide"><img src="images/school.png">
    <div class="slide"><img src="images/bus.jpeg">
    <div class="slide"><img src="images/logo.png">
    <div class="slide"><img src="images/students.jpg">
    <div class="slide"><img src="images/classroom.jpg">
    <div class="slide"><img src="images/Olaf-spirit.gif">
  </div>
</div>
>>>>>>> 5b7a3220a35caa0032c2928ffe1200c2708e1335
