<div class="container">
  <div class="timer"></div>
  <div class="slideshow">
    <div class="slide"><img src="images/logo.png">
    <div class="slide"><img src="images/logo.png">
    <div class="slide"><img src="images/logo.png">
    <div class="slide"><img src="images/logo.png">
    <div class="slide"><img src="images/logo.png">
    <div class="slide"><img src="images/logo.png">
  </div>
</div>