 <div id="headerbar">
      <ul>
         </ul>
         <div class="f.logo">
          <div class="logo"><img src="images/logo.png">
</div>
   </div>
 </div>
 <div id="navbar">
      <ul>
          <li><a href="/">HOME</a></li>
            <li><a href="principal">PRINCIPAL</a></li>
            <li><a href="students">STUDENTS</a></li>
            <li><a href="instructors">INSTRUCTORS</a></li>
            <li><a href="courses">COURSES</a></li>
            <li><a href="cohorts">COHORTS</a></li>
            <li><a href="about">ABOUT US</a></li>
     </ul>
 </div>
 <div class="lion"><img src="images/lion.png" height="170" width="170"></div><br><h1>PURFROCK PREPATORY<br>SCHOOL</h1>
