<div class="container">
  <div class="timer"></div>
  <div class="slideshow">
    <div class="slide"><img src="images/school.png">
    <div class="slide"><img src="images/bus.jpeg">
    <div class="slide"><img src="images/logo.png">
    <div class="slide"><img src="images/students.jpg">
    <div class="slide"><img src="images/classroom.jpg">
    <div class="slide"><img src="images/Olaf-spirit.gif">
  </div>
</div>