<h1>Edit Courses</h1>

<%= form_with(model: @courses, local: true) do |f| %>

<%= f.text_field :name, placeholder: "Name of Course"%><br> 
<%= f.text_field :hours, placeholder: "Total in Class Hours" %><br> 


<%= f.submit 'Edit Course' %><br>
<% end %>