<h2>About us</h2>
<p>We are located at 60 Lincoln Center Plaza in the heart of the Upper West Side.  We are located less than 5 minutes from Central Park and a twenty minutes walk to Times Square.  We have a lot to offer our students.</p>
