/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Body section
================================= */

 body {
    background-color: #003b6e;
    color: #ffd200;
    position: fixed;
    z-index: 5;
    margin: 0;
    padding: 0;
 }

 h1 {
  font-family: sans-serif;
  color: #ffd200;
  text-align: center;
  margin: 35px 0px 0px 116px;
  position: relative;
  font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
}

 h6 {
     font-family: Sans-serif;
     font-size: 22px;
     text-align: center;
 }

 a {
  color: #fff;
}

a:visited {
  color: #fff;
}


/* Header Bar section
================================= */

#headerbar {
    background-color:  #ffd200;
    padding: 26px;
    margin: -6px;
    margin-right: -240px;
    list-style-type: center;
    text-align: center;
    border-radius: 5px;
  }



  /* Navigation section
  ================================= */

  #navbar ul {
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    list-style-type: center;
    text-align: center;
    background-color: #fff;
    margin: 200px;
    border-radius: 5px;
  }

  #navbar ul li {
    display: inline;
  }

  #navbar ul li a {
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    color: blue ;
    background-color: none;
  }

  #navbar ul li a:hover {
    color: none;
    background-color: #003b6e;
  }

  /* Images
 ================================= */
.logo {
  margin-bottom: -230px;
  display: flex;
  justify-content: center;
  height: 200px;
  width: auto;
}

 .lion {
   margin: -405px 0px -136px 167px;
   display: flex;
   justify-content: left;
   height: 200px;
   width: auto;
 }
