/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Dashboard
================================= */

.admin {
--spacing: 1rem;
display: flex;
flex-wrap: wrap;
/* display: grid; */
height: 100vh;
grid-template-rows: 70px 1fr 70px;
grid-template-columns: 250px 1fr;
grid-template-areas: "header header" "nav    main" "footer footer";
}
.adminheader {
display: flex;
flex-basis: 100%;
grid-area: header;
height: 70px;
background-color: #fff;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
position: relative;
}

.adminnav {
  flex: 0 0 250px;
  grid-area: nav;
  background-color: #313541;
}
.adminmain {
  flex: 1;
  grid-area: main;
  padding: var(--spacing);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #f4f7fa;
}
.adminfooter {
  display: flex;
  grid-area: footer;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 var(--spacing);
  color: #4e5561;
  background-color: #1d2127;
}
@media screen and (min-width: 48rem) {
  .admin {
    --spacing: 2rem;
  }
}

.dashboard {
  --column-count: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--spacing) * -0.5);
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: var(--spacing);
}
.dashboarditem {
  flex: 1 1 50%;
  grid-column-end: span 2;
  padding: calc(var(--spacing) / 2);
}
.dashboarditem--full {
  flex-basis: 100%;
  grid-column: 1 / -1;
}
.dashboarditem--col {
  flex-basis: calc(100% / var(--column-count));
  grid-column-end: span 1;
}
@media screen and (min-width: 48rem) {
  .dashboard {
    --column-count: 4;
  }
}
@supports (display: grid) {
  .dashboard {
    margin: 0;
  }
  .dashboarditem {
    padding: 0;
  }
}


.symbol {
  display: flex;
  flex: 0 0 250px;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  color: #fff;
  background-color: #dc5a60;
  font-size: 1rem;
}
.symbol h1 {
  margin: 0;
}

.toolbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing);
}

.sidebar {
  list-style-type: none;
  padding: 0;
}
.sidebar__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
.sidebar__link {
  display: block;
  padding: 1rem 2rem;
  color: #76808f;
  text-decoration: none;
}
.sidebar__link:hover, .sidebar__link:focus {
  color: #fff;
  background-color: #1f222d;
}

.btn {
  display: inline-block;
  border-radius: 5em;
  border: 0;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.btn--primary {
  color: #fff;
  background-color: #56bf89;
}

.ticker {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.tickeritem {
  margin-right: 1rem;
}


/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border-bottom: 2px dotted #999999;
  border-right: 2px solid #CCCCCC;
	display: table-cell;
	padding: 7px 10px;
  text-align: center;
}
.divTableCell:last-child, .divTableHead:last-child {
  border-right: 0;
}
.divTableHead {
  background-color: #EEE;
  font-weight: bolder;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
