<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <div id="headerbar">
      <ul>
     </ul>
 </div>
<h1>Welcome to Prufrock Preparatory School</h1>

 


 <div id="navbar">
      <ul>
          <li><a href="/">HOME</a></li>
            <li><a href="students">STUDENTS</a></li>
            <li><a href="instructors">INSTRUCTORS</a></li>
            <li><a href="principal">PRINCIPAL</a></li>
            <li><a href="courses">COURSES</a></li>
            <li><a href="cohorts">COHORTS</a></li>
            <li><a href="contact">CONTACT US</a></li>
     </ul>
 </div>
 
    <%= yield %>
  </body>
</html>
