<!-- <head>
  <title>PrufrockAcademy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<div class="admin">
<header class="adminheader">
  <a href="#" class="symbolheader">
    <h1>Dashboard</h1> -->
